.contain{
    background: url(blur.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 60px 30px;
}

#heading{
    background-color: #2c786c;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
}

#record{
    color: yellow;
    text-align: justify;
    padding: 50px;
    line-height: 25px;
}