#contact-main{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    padding: 50px;
}

#contact-main{
    background-color: #C97B84;
}

.Contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Contact > div > div{
    margin: 10px;
}

input{
    height: 30px;
}

textarea{
    max-height: 100px;
    max-width: 50%;
}


address h2{
    margin-bottom: 25px;
}

#second{
    font-size: 18px;
}

address{
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}

.half{
    width: 50vw;
}

iframe{
    height: 27vh;
    width: 80%;
}

label{
    display: inline-block;
    width: 120px;
}

form div{
    margin: 10px 0px;
}